<div class="container w-50 mt-3">
    <form class="submit-form" name="form" #f="ngForm" (ngSubmit)="submitForm(f); loadData(); f.reset()">
        <div class="form-group">
            <input type="text" name="title" class="form-control" placeholder="Title" 
                    [(ngModel)]="book.title" required>
        </div>
        <div class="form-row">
            <div class="col-7">
                <input type="text" name="author" class="form-control" placeholder="Author"
                        [(ngModel)]="book.author" required>
            </div>
            <div class="col">
                <input type="text" name="gender" class="form-control" placeholder="Gender" 
                        [(ngModel)]="book.gender" required>
            </div>
        </div>
        <div class="form-row">
            <div class="mt-3">
                <button *ngIf="isSubmit"  type="submit" class="btn btn-success mr-2" [disabled]="!f.valid">Register</button>
                <button *ngIf="!isSubmit" type="submit" class="btn btn-warning mr-2" [disabled]="!f.valid">Update</button>
                <button *ngIf="!isSubmit" type="submit" class="btn btn-secondary" (click)="isSubmit=true; f.reset()">Cancel</button>
            </div>
        </div>   
    </form>
</div>

<div class="container mt-3">
    <hr>
    <table class="table table-stripped">
        <thead class="thead-light">
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Author(s)</th>
            <th scope="col">Gender</th>
            <th scope="col" style="text-align: center;">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of bookList$ | async">
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.gender }}</td>             
            <td>
                <div class="btn-group btn-group-sm" role="group">
                    <button type="submit" class="btn btn-danger"  (click)="deleteBook(book.id); loadData()">Delete</button>
                    <button type="submit" class="btn btn-warning" (click)="findBookById(book.id); isSubmit=false">Update</button>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
</div>