<div class="container w-50 mt-3">
    <form class="submit-form" name="form" #f="ngForm" (ngSubmit)="createBook(); f.reset()">
        <div class="form-group">
            <input type="text" name="title" class="form-control" placeholder="Title" 
                    [(ngModel)]="book.title" required>
        </div>
        <div class="form-row">
            <div class="col-7">
                <input type="text" name="author" class="form-control" placeholder="Author"
                        [(ngModel)]="book.author" required>
            </div>
            <div class="col">
                <input type="text" name="gender" class="form-control" placeholder="Gender" 
                        [(ngModel)]="book.gender" required>
            </div>
        </div>
        <div class="form-row">
            <div class="mt-3">
                <button type="submit" class="btn btn-primary mr-2" [disabled]="!f.valid">Register</button>
                <button type="button" class="btn btn-secondary mr-2">Update</button>
                <button type="submit" class="btn btn-warning mr-2" disabled>Delete</button>
            </div>
        </div>   
    </form>
</div>